services:
  app:
    container_name: edge-service
    image: edge-service:0.0.1
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - "${HOST_PORT}:${CONTAINER_PORT}"
    environment:
      ACTIVE_PROFILE: ${ACTIVE_PROFILE}
      SERVER_PORT: ${CONTAINER_PORT}
      SERVER_CONNECTION_TIMEOUT: ${SERVER_CONNECTION_TIMEOUT}
      SERVER_IDLE_TIMEOUT: ${SERVER_IDLE_TIMEOUT}
      LIFECYCLE_TIMEOUT_PER_SHUTDOWN: ${LIFECYCLE_TIMEOUT_PER_SHUTDOWN}
      CATALOG_SERVICE_URL: ${CATALOG_SERVICE_URL}
      ORDER_SERVICE_URL: ${ORDER_SERVICE_URL}
      GATEWAY_HTTPCLIENT_POOL_MAX_IDLE_TIME: ${GATEWAY_HTTPCLIENT_POOL_MAX_IDLE_TIME}
      GATEWAY_HTTPCLIENT_POOL_MAX_LIFE_TIME: ${GATEWAY_HTTPCLIENT_POOL_MAX_LIFE_TIME}
      GATEWAY_HTTPCLIENT_CONNECT_TIMEOUT: ${GATEWAY_HTTPCLIENT_CONNECT_TIMEOUT}
      GATEWAY_HTTPCLIENT_RESPONSE_TIMEOUT: ${GATEWAY_HTTPCLIENT_RESPONSE_TIMEOUT}
      RETRY_COUNT: ${RETRY_COUNT}
      RETRY_FIRST_BACKOFF: ${RETRY_FIRST_BACKOFF}
      RETRY_MAX_BACKOFF: ${RETRY_MAX_BACKOFF}
      RETRY_FACTOR: ${RETRY_FACTOR}
      CIRCUIT_BREAKER_SLIDING_WINDOW_SIZE: ${CIRCUIT_BREAKER_SLIDING_WINDOW_SIZE}
      CIRCUIT_BREAKER_FAILURE_RATE_THRESHOLD: ${CIRCUIT_BREAKER_FAILURE_RATE_THRESHOLD}
      CIRCUIT_BREAKER_WAIT_MS_DURATION_IN_OPEN_STATE: ${CIRCUIT_BREAKER_WAIT_MS_DURATION_IN_OPEN_STATE}
      CIRCUIT_BREAKER_PERMITTED_NUMBER_OF_CALLS_IN_HALF_OPEN_STATE: ${CIRCUIT_BREAKER_PERMITTED_NUMBER_OF_CALLS_IN_HALF_OPEN_STATE}
      TIME_LIMITER_TIMEOUT_DURATION: ${TIME_LIMITER_TIMEOUT_DURATION}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_TIMEOUT: ${REDIS_TIMEOUT}
      REDIS_CONNECT_TIMEOUT: ${REDIS_CONNECT_TIMEOUT}
      REDIS_RATE_LIMITER_REPLENISH_RATE: ${REDIS_RATE_LIMITER_REPLENISH_RATE}
      REDIS_RATE_LIMITER_BURST_CAPACITY: ${REDIS_RATE_LIMITER_BURST_CAPACITY}
      REDIS_RATE_LIMITER_REQUESTED_TOKENS: ${REDIS_RATE_LIMITER_REQUESTED_TOKENS}
    networks:
      polar-nw:
        aliases:
          - 'edge-service'
      postgres:
        aliases:
          - 'edge-service'
      polar-redis-nw:
        aliases:
          - 'edge-service'

networks:
  polar-nw:
    name: polar-nw
    external: true
  postgres:
    name: polar-postgres-nw
    external: true
  polar-redis-nw:
    name: polar-redis-nw
    external: true