server:
  port: 8081
  netty:
    connection-timeout: 2s
    idle-timeout: 15s
  shutdown: graceful

spring:
  lifecycle:
    timeout-per-shutdown-phase: 15s
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 1s
      connect-timeout: 2s
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: catalog-service
              uri: http://localhost:8135
              predicates:
                - Path=/api/v1/catalog/**
              filters:
                - name: CircuitBreaker
                  args:
                    name: catalogCircuitBreaker
                    fallbackUri: forward:/catalog-fallback
            - id: order-service
              uri: http://localhost:8136
              predicates:
                - Path=/api/v1/orders/**
              filters:
                - name: CircuitBreaker
                  args:
                    name: orderCircuitBreaker
          httpclient:
            pool:
              type: elastic
              max-idle-time: 15s
              max-life-time: 60s
            connect-timeout: 2000
            response-timeout: 5s
          default-filters:
            - name: Retry
              args:
                retries: 3
                methods: GET
                series: SERVER_ERROR
                exceptions: java.io.IOException, java.util.concurrent.TimeoutException
                backoff:
                  firstBackoff: 50ms
                  maxBackoff: 500ms
                  factor: 2
                  basedOnPreviousValue: false
            - name: RequestRateLimiter
              args:
                redis-rate-limiter:
                  replenishRate: 10
                  burstCapacity: 20
                  requestedTokens: 1

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 20
        failureRateThreshold: 50
        waitDurationInOpenState: 15000
        permittedNumberOfCallsInHalfOpenState: 5
  timelimiter:
    configs:
      default:
        timeoutDuration: 5s

logging:
  level:
    com.bazinga.eg.edgeservice: debug
    org.springframework.boot: debug
    org.springframework.cloud.gateway: debug
    org.springframework.web: debug
    io.github.resilience4j: debug