application:
  version: @project.version@
  title: BZA[edge-service]

server:
  shutdown: graceful

spring:
  application:
    name: edge-service
  profiles:
    active: ${ACTIVE_PROFILE}
  config:
    import: 'optional:configserver:'
  cloud:
    config:
      uri: http://${CONFIG_SERVER_URI}:${CONFIG_SERVER_PORT}
      fail-fast: false
      enabled: false

---
# Configuration for all profiles EXCEPT local and it
spring:
  config:
    activate:
      on-profile: "!local,!it"
  cloud:
    config:
      enabled: true
      fail-fast: true
      retry:
        max-attempts: 6
        initial-interval: 1000
        max-interval: 2000
        multiplier: 1.1
      request-connect-timeout: 5000
      request-read-timeout: 5000

---
# Configuration for local and it profiles (Config Server disabled)
spring:
  config:
    activate:
      on-profile: "local,it"
  cloud:
    config:
      enabled: false
      fail-fast: false