server:
  port: 8081
  netty:
    connection-timeout: 2s
    idle-timeout: 15s
  shutdown: graceful

spring:
  lifecycle:
    timeout-per-shutdown-phase: 15s
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: catalog-service
              uri: http://localhost:8135
              predicates:
                - Path=/api/v1/catalog/**
            - id: order-service
              uri: http://localhost:8136
              predicates:
                - Path=/api/v1/orders/**
          httpclient:
            pool:
              type: elastic
              max-idle-time: 15s
              max-life-time: 60s
            connect-timeout: 2000
            response-timeout: 5s
          default-filters:
            - name: Retry
              args:
                retries: 3
                methods: GET
                series: SERVER_ERROR
                exceptions: java.io.IOException, java.util.concurrent.TimeoutException
                backoff:
                  firstBackoff: 50ms
                  maxBackoff: 500ms
                  factor: 2
                  basedOnPreviousValue: false

logging:
  level:
    com.bazinga.eg.edgeservice: debug
    org.springframework.boot: debug
    org.springframework.cloud.gateway: debug
    org.springframework.web: debug